<template>
    <Library title="Maps Library" addLabel="Add Map" @add-item="addMap">
        <MapList v-bind:maps="maps" />
    </Library>
</template>

<script lang="ts">
import { mapActions, mapState } from 'vuex';

import MapList from './MapList.vue';
import Library from '@/components/common/library/Library.vue';

export default {
    components: {
        MapList: MapList,
        Library: Library,
    },
    computed: {
        ...mapState('live', {
            director: 'director',
        }),
        ...mapState('library', {
            maps: 'characters', // TODO distinct calls for maps and characters
        }),
    },
    created: function() {
        this.getMaps();
    },
    methods: {
        ...mapActions('library', {
            addMap: 'addCharacter', // TODO distinct calls for maps and characters
            getMaps: 'getCharacters', // TODO distinct calls for maps and characters
        }),
    },
};
</script>
